.eg-wrapper{
    max-width: 600px;
    margin: 0 auto;
    .display-wrapper{
        border: 1px solid white;
        min-height: 80px;
        padding: 20px;
        margin: auto;
        .result-num {
            font-size: 28px;
        }
        .placeholder{
            font-size: 18px;
            color: rgb(133, 121, 121);
        }

    }
    .buttonSectionStyle{
        border: 1px solid white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .innerBtn{
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 20px;
        }
    }
}